---
import "./BotonForm.css";
---

<style>
  .botonform-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: red;
  }
</style>

<div class="botonform-container">
    <button class="botonform-btn">
        <span class="botonform-btn-text">Get a Free Estimate</span>
        <span class="botonform-arrow">→</span>

        <!-- Líneas esquineras -->
        <span class="botonform-corner botonform-corner-left"></span>
        <span class="botonform-corner botonform-corner-right"></span>
        <span class="botonform-corner botonform-corner-bottom"></span>
        <span class="botonform-corner botonform-corner-top"></span>
    </button>
</div>
