---
import "../styles/global.css";
import Header from '../components/Header.astro';
import Home from '../pages/Home.astro'
---
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Prueba Tailwind</title>
</head>
<body >
<Home />

</body>
</html>