---
import Footer from "../components/Footer/Footer";
import Form from "../components/FormReact/FormReact";
import ProjectsReact from "../components/ProjectReact/ProjectsReact";
import Layout from "../layouts/Layout.astro";
import About from "../sections/home/About.astro";
import Brands from "../sections/home/Brands.astro";
import Choose from "../sections/home/Choose.astro";
import Formulario from "../sections/home/Formulario.astro";
import Process from "../sections/home/Process.astro";
import Projects from "../sections/home/Projects.astro";
import Services from "../sections/home/Services.astro";
import Testimonials from "../sections/home/Testimonials.astro";
import Tips from "../sections/home/Tips.astro";
import Welcome from "../sections/home/Welcome.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bethelor</title>
  </head>
  <body>
    <Layout>
      <Welcome />
      <Services />
      <Projects />
      <About />
      <Choose />
      <Brands />
      <Process />
      <Testimonials />
      <Tips />
      <Formulario />
      <!-- <Footer /> -->
    </Layout>
  </body>
</html>
