---
import Services from "../sections/home/Services.astro";
import Welcome from "../sections/home/Welcome.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bethelor</title>
  </head>
  <body>
    <Welcome/>
    <Services/>
  </body>
</html>
