@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Days+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");


@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.header {
  background: #000;
  color: #fff;
  padding: 25px 0;
  position: relative;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hover-wrapper {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-container {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  border: 1px solid rgb(57, 57, 57);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
}
.containerLogo {
  display: flex;
  flex-direction: column;
}

.containerLogo img{
  max-width: 70%;
}
.name-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
}
.texto-alternativo {
  font-size: 10px;
  margin-top: -8px;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-info .item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 50%;
}
.invertible-img {
  width: 32px;
  height: 32px;
  transition: filter 0.3s;
    border-radius: 50%;

}
.invertible-img:hover {
  filter: invert(100%);
}
.container-request {
  display: flex;
  align-items: center;
}


@media (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
  }
  .texto-alternativo {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact-info {
    display: none;
  }
  .menu-mobile-button {
    display: block;
    cursor: pointer;
    margin-right: 9px;
  }

  .hover-wrapper{
    display: none;
  }

  .mobile-menu {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background: #111; 
    padding: 16px 0;
    z-index: 20;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    overflow: hidden;
    height: 800px; 
  }

  .container-request1{
    text-align: center;
    padding-top: 20px;
  }
  .mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .mobile-menu li {
    padding: 12px 20px; 
    text-align: center;
    color: #eee; 
    font-size: 1.1rem; 
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
  }
  .mobile-menu li:last-child {
    border-bottom: none;
  }
  .mobile-menu li:hover {
    background-color: #222; 
  }


  .mobile-menu.menu-active li:nth-child(1) { animation-delay: 0.1s; }
  .mobile-menu.menu-active li:nth-child(2) { animation-delay: 0.15s; }
  .mobile-menu.menu-active li:nth-child(3) { animation-delay: 0.2s; }
  .mobile-menu.menu-active li:nth-child(4) { animation-delay: 0.25s; }

}
@media (min-width: 769px) {
  .menu-mobile-button {
    display: none;
  }
}

.menu-toggle {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  opacity: 1;
  transform: scaleX(1);
  transform-origin: center;
  transition: all 0.4s ease;
  margin-right: 20px;
}

.bar:nth-child(1) {
  top: 0;
 
}

.bar:nth-child(2) {
  top: 47%;
  transform: translateX(15%);
}

.bar:nth-child(3) {
  bottom: 0;
}

.menu-toggle:hover .bar:nth-child(1) {
  animation: hideShow1 0.8s forwards;
}

.menu-toggle:hover .bar:nth-child(2) {
  animation: hideShow2 0.8s forwards;
}

.menu-toggle:hover .bar:nth-child(3) {
  animation: hideShow3 0.8s forwards;
}

@keyframes hideShow1 {
  0% { opacity: 1; transform: scaleX(1); }
  50% { opacity: 0; transform: scaleX(0); }
  100% { opacity: 1; transform: scaleX(1); }
}

@keyframes hideShow2 {
  0% { opacity: 1; transform: translateX(15%) scaleX(1); }
  50% { opacity: 0; transform: translateX(15%) scaleX(0); }
  100% { opacity: 1; transform: translateX(15%) scaleX(1); }
}

@keyframes hideShow3 {
  0% { opacity: 1; transform: scaleX(1); }
  50% { opacity: 0; transform: scaleX(0); }
  100% { opacity: 1; transform: scaleX(1); }
}