---
import "./BotonHeader.css";
---

<button class="btn-header">
    <span class="btn-header-text">Request your free quoter</span>
    <span class="btn-header-arrow">→</span>

    <!-- Líneas esquineras -->
    <span class="btn-header-corner btn-header-left"></span>
    <span class="btn-header-corner btn-header-right"></span>
    <span class="btn-header-corner btn-header-bottom"></span>
    <span class="btn-header-corner btn-header-top"></span>
</button>
