---
import "./BotonFooter.css";
---

<button class="boton-footer-btn">
    <span class="boton-footer-btn-text">Let’s Plan Your Remodel</span>
    <span class="boton-footer-arrow">→</span>

    <!-- Líneas esquineras -->
    <span class="boton-footer-corner boton-footer-left"></span>
    <span class="boton-footer-corner boton-footer-right"></span>
    <span class="boton-footer-corner boton-footer-bottom"></span>
    <span class="boton-footer-corner boton-footer-top"></span>
</button>
