---
import "./Boton.css";
---

<style>
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
</style>

<div class="button-container">
  <button class="fancy-btn">
    <span class="btn-text">See full Blogs</span>
    <span class="arrow">→</span>

    <!-- Líneas esquineras -->
    <span class="corner left"></span>
    <span class="corner right"></span>
    <span class="corner bottom"></span>
    <span class="corner top"></span>
  </button>
</div>
