---
import "./Boton2.css";
---

<button class="custom-btn">
    <span class="custom-btn-text">More About Bethelor</span>
    <span class="custom-arrow">→</span>

    <!-- Líneas esquineras -->
    <span class="custom-corner custom-left"></span>
    <span class="custom-corner custom-right"></span>
    <span class="custom-corner custom-bottom"></span>
    <span class="custom-corner custom-top"></span>
</button>

