---
import "../styles/brands.css";
import "../styles/global.css";
---

<section class="brands-section">
    <div class="brand-logo">
        <img src="public/icons/brands0.png" alt="">
    </div>

    <div class="brand-details">
        <div class="brand-item">
            <img src="public/icons/brands1.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Creative Craftsmanship
                </h3>
                <p class="brand-text">Every project is guided by creativity and precision. We combine style and function to design spaces that are both beautiful and useful.</p>
            </div>
        </div>

        <div class="brand-item">
            <img src="public/icons/brands2.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Creative Craftsmanship
                </h3>
                <p class="brand-text">Every project is guided by creativity and precision. We combine style and function to design spaces that are both beautiful and useful.</p>
            </div>
        </div>  
        <div class="brand-item">
            <img src="public/icons/brands3.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Creative Craftsmanship
                </h3>
                <p class="brand-text">Every project is guided by creativity and precision. We combine style and function to design spaces that are both beautiful and useful.</p>
            </div>
        </div>  
        <div class="brand-item">
            <img src="public/icons/brands4.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Creative Craftsmanship
                </h3>
                <p class="brand-text">Every project is guided by creativity and precision. We combine style and function to design spaces that are both beautiful and useful.</p>
            </div>
        </div>  
    </div>
    <div class="trusted-brands">
        <h3 class="trusted-brands-title">Brands We Trust for Remodeling in Maryland</h3>
        <div class="trusted-brands-logo">
            <img src="public/icons/brands5.svg" alt="">
        </div>
    </div>
</section>