---
import "../styles/brands.css";
import "../styles/global.css";
---

<section class="brands-section">
    <div class="brand-logo">
        <img src="public/icons/brands0.png" alt="">
    </div>

    <div class="brand-details">
        <div class="brand-item">
            <img src="public/icons/brands1.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Creative Craftsmanship
                </h3>
                <p class="brand-text">Every project is guided by creativity and precision. We combine style and function to design spaces that are both beautiful and useful.</p>
            </div>
        </div>

        <div class="brand-item">
            <img src="public/icons/brands2.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Tailored for You
                </h3>
                <p class="brand-text">We don’t believe in one-size-fits-all. Each home is different — and so is every solution we create for our clients.</p>
            </div>
        </div>  
        <div class="brand-item">
            <img src="public/icons/brands3.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                     Efficient & Reliable
                </h3>
                <p class="brand-text">We work smart and stay on schedule. Our team is focused, organized, and always respectful of your time and space..</p>
            </div>
        </div>  
        <div class="brand-item">
            <img src="public/icons/brands4.png" alt="">
            <div class="brand-description">
                <h3 class="brand-title">
                    Smart Planning, Solid Results
                </h3>
                <p class="brand-text">We help you make confident decisions from start to finish. Clear guidance, honest advice, and no surprises.</p>
            </div>
        </div>  
    </div>
    <div class="trusted-brands">
        <h3 class="trusted-brands-title">Brands We Trust for Remodeling in Maryland</h3>
        <div class="trusted-brands-logo">
            <img src="public/icons/brands5.svg" alt="">
        </div>
    </div>
</section>