---
import "../styles/services.css";
import "../styles/global.css";
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const items = document.querySelectorAll(".accordion-item");

    items.forEach((item) => {
      const button = item.querySelector(".accordion-header");

      if (button) {
        button.addEventListener("click", () => {
          item.classList.toggle("active");
        });
      }
    });
  });
</script>

<section class="services-section">
  <!-- Title and Introduction -->
  <div class="services-header">
    <div class="services-intro">
      <h2 class="services-title">Our Services.</h2>
      <p class="services-description">
        At Bethelor, we offer high-quality home remodeling services in Maryland,
        specializing in kitchens, bathrooms, basements, full home renovations,
        and more. Our team is committed to turning your ideas into reality with
        reliable craftsmanship and attention to detail.
      </p>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Kitchen Remodeling</h3>
          <p>
            We remodel kitchens with custom cabinets, new countertops, lighting,
            backsplashes, and flooring. We focus on both style and functionality
            to create the heart of your home.
          </p>
          <ul>
            <li>Serving all Maryland</li>
          </ul>
            <a
            href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
            target="_blank"
            onclick="event.stopPropagation()"
            ><img src="public/icons/boton-black.png" alt="" />
            </a>
        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service1.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>CUSTOM CABINETS</h4>
              </div>
              <p>
                Built-in storage solutions crafted to fit your kitchen style,
                improve organization, and maximize space.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>COUNTERTOPS INSTALLATION</h4>
              </div>
              <p>
                Precision installation of granite, quartz, or laminate
                countertops for durability, beauty, and daily use.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>LIGHTING UPGRADES</h4>
              </div>
              <p>
                Install modern lighting fixtures, including recessed lights,
                pendants, and under-cabinet options, for better visibility and
                ambiance.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>OPEN LAYOUT CONVERSION</h4>
              </div>
              <p>
                Remove walls or barriers to create a more open kitchen space.
                Improve flow, visibility, and modernize your layout for better
                interaction and comfort.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Bathroom Remodeling</h3>
          <p>
            We remodel bathrooms with modern tile, stylish vanities, updated
            showers, tubs, lighting, and more. Our focus is on comfort,
            functionality, and clean design — perfect for relaxing and starting
            your day right.
          </p>
          <ul>
            <li>Serving all Maryland</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black2.png" alt="" />
          </a>
        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service2.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>VANITY AND SINK REPLACEMENT</h4>
              </div>
              <p>
                Upgrade your bathroom with elegant vanities and functional sinks
                — designed for comfort and storage.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>SHOWER AND BATHTUB INSTALLATION</h4>
              </div>
              <p>
                Install sleek walk-in showers or luxurious tubs for a fresh,
                spa-like experience.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>CUSTOM TILE WORK</h4>
              </div>
              <p>
                Modern tile for floors, walls, and showers — precision-installed
                for style and durability.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>LIGHTING UPGRADES</h4>
              </div>
              <p>
                Improve your bathroom’s ambiance and visibility with updated
                fixtures and vanity lighting.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Basement Remodeling</h3>
          <p>
            Transform your basement into a fully functional and stylish
            extension of your home. <br />
            We specialize in custom basement remodeling across Maryland, turning
            unused spaces into cozy family rooms, home offices, guest suites, or
            entertainment areas
          </p>
          <ul>
            <li>
              Serving all of Maryland with quality craftsmanship and reliable
              service.
            </li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black3.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service3.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>CUSTOM BASEMENT DESIGN</h4>
              </div>
              <p>
                Tailored layouts that match your needs—whether it’s a home
                theater, playroom, bar area, or extra living space.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>FRAMING & DRYWALL FINISHING</h4>
              </div>
              <p>
                Expert framing and seamless drywall installation that give your
                basement a clean, polished look ready for paint and fixtures.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>LIGHTING & ELECTRICAL UPGRADES</h4>
              </div>
              <p>
                Modern lighting solutions including recessed lights, wall
                sconces, and safe electrical wiring—bringing comfort, ambiance,
                and efficiency.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>OPEN LAYOUT CONVERSION</h4>
              </div>
              <p>
                Remove barriers or walls to create spacious, open-concept
                basements that improve flow, visibility, and family interaction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Complete Home Renovation</h3>
          <p>
            Transform your home from outdated to outstanding. We specialize in
            complete home remodeling across Maryland, delivering functional,
            modern, and beautifully finished spaces — from kitchens and
            bathrooms to basements, living rooms, and more.
          </p>
          <ul>
            <li>
              Serving all of Maryland with high-quality craftsmanship and
              reliable service.
            </li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black4.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service4.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>INTERIOR LAYOUT REMODELING</h4>
              </div>
              <p>
                Open up spaces or redesign your home’s layout to improve flow,
                light, and daily functionality.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>FLOORING, DRYWALL & PAINTING</h4>
              </div>
              <p>
                We install premium flooring, smooth drywall finishes, and custom
                paint for a clean, modern look.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>KITCHEN & BATHROOM REMODELING</h4>
              </div>
              <p>
                Upgrade essential spaces with new tile, cabinetry, vanities,
                countertops, lighting, and plumbing fixtures.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>LIGHTING & ELECTRICAL ENHANCEMENTS</h4>
              </div>
              <p>
                Improve safety and ambiance with updated electrical work and
                smart lighting solutions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Home Additions</h3>
          <p>
            Need more space? We build custom home additions that blend
            seamlessly with your existing home — from new rooms and sunrooms to
            full second-story expansions.
          </p>
          <ul>
            <li>Serving all of Maryland with expert craftsmanship</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black5.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service5.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>INTERIOR LAYOUT REMODELING</h4>
              </div>
              <p>
                Open up spaces or redesign your home’s layout to improve flow,
                light, and daily functionality.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>FLOORING, DRYWALL & PAINTING</h4>
              </div>
              <p>
                We install premium flooring, smooth drywall finishes, and custom
                paint for a clean, modern look.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>KITCHEN & BATHROOM REMODELING</h4>
              </div>
              <p>
                Upgrade essential spaces with new tile, cabinetry, vanities,
                countertops, lighting, and plumbing fixtures.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>LIGHTING & ELECTRICAL ENHANCEMENTS</h4>
              </div>
              <p>
                Improve safety and ambiance with updated electrical work and
                smart lighting solutions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Interior & Exterior Painting</h3>
          <p>
            Refresh your home with clean, durable, and professionally applied
            paint — inside and out. <br />
            We offer expert residential painting services across Maryland to boost
            your home’s curb appeal and interior comfort.
          </p>
          <ul>
            <li>Serving all of Maryland with precision and care.</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black6.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service6.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>INTERIOR WALL & CEILING PAINTING</h4>
              </div>
              <p>
                Smooth, even finishes on walls and ceilings using high-quality
                paint and clean edge detailing.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>EXTERIOR FACADE & TRIM PAINTING</h4>
              </div>
              <p>
                Protect and refresh your home’s exterior with weather-resistant
                paint for siding, trim, shutters, and doors.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>DRYAWALL PATCHING & PREP WORK</h4>
              </div>
              <p>
                We fix cracks, holes, and surface imperfections before painting
                — for a flawless, long-lasting result.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta-doble.png" alt="" />
                <h4 style={{}}>COLOR MATCHING & CONSULTATION</h4>
              </div>
              <p>
                Get expert help choosing the right colors and finishes to match
                your style and enhance your space.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Flooring Installation</h3>
          <p>
            Enhance your home with professionally installed floors that combine
            durability, style, and comfort. We offer expert flooring services
            across Maryland, using quality materials and clean finishes for
            lasting results.
          </p>
          <ul>
            <li>Serving all of Maryland with precision and care</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black7.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service7.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>HARDWOOD & ENGINEERED WOOD</h4>
              </div>
              <p>
                Built-in storage solutions crafted to fit your kitchen style,
                improve organization, and maximize space.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>LUXURY VINYL PLANK (LVP) & LAMINATE</h4>
              </div>
              <p>
                Affordable, waterproof options with stylish looks and low
                maintenance.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta-doble.png" alt="" />
                <h4 style={{}}>TILE FLOORING</h4>
              </div>
              <p>
                Ideal for kitchens, bathrooms, and basements — resistant and
                easy to clean.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>SUBFLOOR PREP & LEVELING</h4>
              </div>
              <p>
                We prep surfaces to ensure a smooth, long-lasting floor
                installation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Window & Door Replacement</h3>
          <p>
            Upgrade your home’s comfort, security, and energy efficiency with
            professionally installed windows and doors. We offer stylish,
            durable options that match your home’s look and stand up to
            Maryland’s weather.
          </p>
          <ul>
            <li>Serving all of Maryland with expert installation and care</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black8.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service8.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>WINDOW REPLACEMENT & INSTALLATION</h4>
              </div>
              <p>
                Energy-efficient windows installed with precision for better
                insulation and natural light.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>EXTERIOR & ENTRY DOOR REPLACEMENT</h4>
              </div>
              <p>
                Secure, stylish front and back doors that boost curb appeal and
                safety.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>SLIDING & PATIO DOORS</h4>
              </div>
              <p>
                Smooth-gliding doors that connect indoor and outdoor living
                spaces beautifully.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta-doble.png" alt="" />
                <h4 style={{}}>FRAMING, SEALING & TRIM WORK</h4>
              </div>
              <p>
                Complete installations with framing, caulking, and detailed
                interior/exterior finishes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Deck & Patio Construction</h3>
          <p>
            Expand your outdoor living space with custom-built decks and patios
            that add beauty, comfort, and value to your home. We design and
            build durable, weather-resistant structures tailored to your
            lifestyle.
          </p>
          <ul>
            <li>Serving all of Maryland with expert outdoor craftsmanship.</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black9.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service9.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>CUSTOM WOOD & COMPOSITE DECKS</h4>
              </div>
              <p>
                Built to last using premium materials like pressure-treated
                wood, cedar, or composite.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>PAVER PATIOS & WALKWAYS</h4>
              </div>
              <p>
                Stylish and functional patios built with stone, brick, or
                concrete pavers.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta-doble.png" alt="" />
                <h4 style={{}}>COVERED DECKS & PERGOLAS</h4>
              </div>
              <p>
                Enjoy shade and protection with custom structures for year-round
                use.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-open.png" alt="" />
                <h4 style={{}}>PERMIT & FINAL FINISHING</h4>
              </div>
              <p>
                We take care of permits, sealing, staining, and everything in
                between.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="accordion-content-inner">
          <h3 class="accordion-button">Home Repair & Improvement</h3>
          <p>
            From small fixes to bigger upgrades, we help keep your home in great
            shape. Our general repair and improvement services are fast,
            reliable, and always focused on quality and detail.
          </p>
          <ul>
            <li>Serving all of Maryland with hands-on experience and care</li>
          </ul>
          <a
          href="https://www.youtube.com/watch?v=B-HLtGTEyLk"
          target="_blank"
          onclick="event.stopPropagation()"
          ><img src="public/icons/boton-black10.png" alt="" />
          </a>        </div>
        <div class="accordion-content-img">
          <img src="public/icons/service10.png" alt="" />
        </div>
        <div class="accordion-content-icons">
          <div
            style={{
              display: "flex",
              justifyContent: "end",
              alignItems: "start",
            }}
          >
            <span class="icon">+</span>
            <span class="icon-close">-</span>
          </div>
          <div class="accordion-content-icons-general">
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta.png" alt="" />
                <h4 style={{}}>DRYWALL REPAIR & TOUCH-UPS</h4>
              </div>
              <p>
                We fix cracks, dents, holes, and more — leaving your walls ready
                for paint.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-counter.png" alt="" />
                <h4 style={{}}>DOOR, TRIM & HARDWARE REPAIR</h4>
              </div>
              <p>
                We adjust, repair or replace doors, handles, locks, and
                moldings.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-focus.png" alt="" />
                <h4 style={{}}>MINOR ELECTRICAL & PLUMBING FIXES</h4>
              </div>
              <p>
                Small leak? Light not working? We handle basic issues quickly
                and safely.
              </p>
            </div>
            <div class="accordion-content-icons-text">
              <div
                style={{
                  display: "flex",
                  justifyContent: "start",
                  alignItems: "center",
                  flexDirection: "row",
                  gap: "10px",
                }}
              >
                <img src="public/icons/icon-herramienta-doble.png" alt="" />
                <h4 style={{}}>CAULKING, PATCHING & GENERAL MAINTENANCE</h4>
              </div>
              <p>
                Sealing, smoothing, and restoring problem areas throughout your
                home.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
