---
import "../styles/Tips.css";
import "../styles/global.css";
import Boton from "./Boton/Boton.astro";
import BotonTip from "./Boton/BotonTip.astro";
---

<section class="tips-section">
  <div class="tips">
    <h3 class="tips-title">Home Remodeling Tips & Trends in Maryland</h3>
    <p>
      Discover expert advice, remodeling inspiration, and real-life project
      stories from homes across Maryland. Whether you’re updating a bathroom in
      Towson or renovating your kitchen in Dundalk, our team shares tips,
      trends, and local insights to help you create a space you love.
    </p>
  </div>

  <div class="tips-card-container">
    <div class="tip-card">
      <div class="tip-image-container">
        <img
          src="public/icons/Tip1.png"
          alt="Bathroom Remodel"
        />
        <div class="tip-date-box">
          <div class="tip-day">
            <p>01</p>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="tip-month">
            <p>Mar 12</p>
          </div>
        </div>
        <div class="tip-tag-box">Bathroom Remodel, Maryland Projects</div>
      </div>
      <div class="tip-content">
        <h2>A Budget-Friendly Bathroom Makeover with Big Results</h2>
        <p>
          When our client in Glen Burnie, Maryland called us, their bathroom was
          outdated and in need of a refresh. They didn’t want a full renovation,
          just a clean, modern look that felt fresh without spending a fortune.
        </p>
      </div>
    </div>
    <div class="tip-card">
      <div class="tip-image-container">
        <img
          src="public/icons/Tip2.png"
          alt="Bathroom Remodel"
        />
        <div class="tip-date-box">
          <div class="tip-day">
            <p>02</p>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="tip-month">
            <p>Mar 30</p>
          </div>
        </div>
        <div class="tip-tag-box">PAINTING, MARYLAND PROJECTS</div>
      </div>
      <div class="tip-content">
        <h2>A Fresh Look with Interior & Exterior Paint in Dundalk, MD</h2>
        <p>
          This Dundalk home got a major refresh with new interior and exterior paint, plus careful repairs to the window and door frames. The result? A clean, modern finish that looks brand new—without breaking the budget.
        </p>
      </div>
    </div>
    <div class="tip-card">
      <div class="tip-image-container">
        <img
          src="public/icons/Tip3.png"
          alt="Bathroom Remodel"
        />
        <div class="tip-date-box">
          <div class="tip-day">
            <p>03</p>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="tip-month">
            <p>Apr 08</p>
          </div>
        </div>
        <div class="tip-tag-box">A Clean Modern Bathroom Update in Rosedale, MD</div>
      </div>
      <div class="tip-content">
        <h2>A Budget-Friendly Bathroom Makeover with Big Results</h2>
        <p>
          This small bathroom in Rosedale got a fresh update without a full renovation. We replaced the vanity and toilet, added a fresh coat of paint, and modernized the space with simple yet impactful touches.
        </p>
      </div>
    </div>
  </div>
  <BotonTip/>
</section>
